{% extends "base.html.twig" %}

{% block content %}
    <div style="text-align: center;">
        <p style="font-size: 18px; color: #666;">{{ message }}</p>
        <p>このアプリケーションはPHP 8.4、Slim 4、Twigで構築されています。</p>
        
        <div style="margin-top: 30px;">
            <h3>技術スタック</h3>
            <ul style="text-align: left; display: inline-block;">
                <li>PHP 8.4</li>
                <li>Slim Framework 4</li>
                <li>Twig Template Engine</li>
                <li>Nginx</li>
                <li>Docker & Docker Compose</li>
            </ul>
        </div>
    </div>
{% endblock %}
